@charset "utf-8";
/* Reset */

body, h1, h2, h3, h4, h5, h6, div, p, blockquote, pre, address, ul, ol, li, dl, dt, dd, table, caption, th, td, form, fieldset, legend, hr {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

ul, ol {
    list-style: none;
}

table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border: 0;
    border-collapse: separate;
}

* + html table {
    border-collapse: separate;
}

img, fieldset, abbr, acronym {
    border: 0;
}

address, caption, cite, code, dfn, em, var {
    font-style: normal;
    font-weight: normal;
}

em {
    font-weight: 700;
}

q:before, q:after {
    content: '';
}

input, select, button, textarea {
    margin: 0;
    padding: 0;
    border: none;
    color: #000;
    font-size: 100%;
    vertical-align: middle;
}

/* Base */

body {
    color: #000;
    font-size: 12px;
    line-height: 12px;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: -.5px;
    box-sizing: border-box;
    outline: none;
}

hr {
    display: none
}

caption, legend, #skipNavi {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

    a:focus, a:hover, a:active {
        color: #000;
    }

input.text, input.pswd, textarea.textarea {
    padding: 0 12px;
    margin: 0;
    border: 1px solid #cacaca;
}

label, input.button, input.submit, input.image, button {
    cursor: pointer;
}

textarea, pre {
    overflow: auto;
}

.hide {
    position: absolute;
    top: 0;
    left: -99999px;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

/*html5*/

article, aside, dialog, footer, header, section, nav, figure, menu {
    display: block;
}

img {
    vertical-align: top;
}

fieldset {
    display: block;
}

/* remove iphone/ipad style */

input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea {
    -webkit-appearance: none;
}

select {
    -webkit-appearance: none;
}

    select::-ms-expand {
        display: none;
    }

/* placeholder color */

::-webkit-input-placeholder {
    color: #898989;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #898989;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #898989;
}

:-ms-input-placeholder {
    color: #898989;
}

* {
    box-sizing: border-box;
    outline: none;
}
