<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img src="/img/2020_logo.png"/></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="myplace" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> MY PLACE
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="notice">
                <span class="oi oi-plus" aria-hidden="true"></span> 공지사항
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="bbsfiles">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 자료실
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="faq">
                <span class="oi oi-list-rich" aria-hidden="true"></span> FAQ
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="yearend">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 신연말정산
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="online_edu">
                <span class="oi oi-list-rich" aria-hidden="true"></span> UNIERP 온라인 교육
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="inquery">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 질문입력
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="list_Inquery">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 질문내역
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="req_source">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 미공개소스요청
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
